<div class="container well">
    <div class="row">
        
        <div class="form-group col-md-3">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-filter"></span>
                </span>
                <input ng-model="query" class="form-control" placeholder="Type question's title or tags"/>
            </div>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Question list
                    <a ng-href="#/create" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <div class="clearfix"></div>
                </div>

                <ul class="list-group">
                    <li ng-repeat="question in questions | filter:query"
                        class="list-group-item">
                        <a ng-href="#/questions/{{question._id.$oid}}">{{question.title}}</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
