<div class="container well">
    <div class="row">

        <div class="form-group col-md-3">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon glyphicon-tag"></span>
                    </span>
                    <input ng-model="tagName" class="form-control" placeholder="Tag name" />
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-filter"></span>
                    </span>
                    <input ng-model="anything" class="form-control" placeholder="Anything..." />
                </div>
            </div>

        </div>

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Question list
                    <a ng-href="#/create" class="btn btn-primary pull-right">
                        Ask Question <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </div>

                <ul class="list-group">
                    <li ng-repeat="question in questions | filter:anything | tagFilter:tagName"
                        class="list-group-item">
                        <a ng-href="#/questions/{{question._id.$oid}}">{{question.title}}</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
