<div class="container">
    <div class="col-md-12">
        <h1>{{question.title}}</h1>
        <p>{{question.content}}</p>
        <div>
            <span class="badge">Asked {{question.date | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            <div class="pull-right">
                <span ng-repeat="tag in question.tags">
                    <span class="label label-info">{{tag.text}}</span>
                </span>
            </div>
        </div>
        
        <!--<div class="col-md-offset-3" ui-view="comments"></div>-->

        <div class="col-md-offset-3">
            <h4>Comments</h4>
            <div ng-repeat="comment in question.comments">
                <div class="well row">
                    <div class="col-md-10">
                        <p>{{comment.content}}</p>
                    </div>

                    <div class="col-md-2">
                        <span class="badge">{{comment.date | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div ng-show="showme" class="col-md-7">
                    <input ng-model="questionComment.content" class="form-control" type="text" />
                </div>
                <button ng-click="showme=true" ng-hide="showme" class="btn btn-warning">add comment</button>
                <button ng-click="showme=false; questionComment={}" ng-show="showme" class="btn btn-default">cancel</button>
                <button ng-click="addCommentToQuestion(); showme=false" ng-show="showme" class="btn btn-primary">save</button>
            </div>
        </div>

        <hr />

        <h3>Answers</h3>
        <div>
            <div ng-repeat="answer in question.answers">
                <div class="row">
                    <div class="col-md-10">
                        <p>{{answer.content}}</p>
                    </div>

                    <div class="col-md-2">
                        <span class="badge">{{answer.date | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    </div>
                </div>
                <div class="col-md-offset-3">
                    <h4>Comments</h4>
                    <div ng-repeat="comment in answer.comments">
                        <div class="well row">
                            <div class="col-md-10">
                                <p>{{comment.content}}</p>
                            </div>

                            <div class="col-md-2">
                                <span class="badge">{{comment.date | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div ng-show="show" class="col-md-7">
                            <input ng-model="answerComment.content" class="form-control" type="text" />
                        </div>
                        <button ng-click="show=true" ng-hide="show" class="btn btn-warning">add comment</button>
                        <button ng-click="show=false; answerComment={}" ng-show="show" class="btn btn-default">cancel</button>
                        <button ng-click="addCommentToAnswer(answer.id); show=false" ng-show="show" class="btn btn-primary">save</button>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <h3>Your answer</h3>
        <div class="container well">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label">Content</label>
                    <textarea class="form-control" ng-model="answer.content"></textarea>
                </div>

                <div class="form-group pull-right">
                    <input class="btn btn-primary" type="button" ng-click="addAnswer()" value="Add new answer" />
                </div>
            </div>
        </div>
    </div>
</div>
